ansible.cfg
modules/ansible/collections/ansible_collections/*
!modules/ansible/collections/ansible_collections/.gitkeep
modules/ansible/roles/*
!modules/ansible/roles/.gitkeep
.ansible
/.terraform.lock.hcl
/.terraform/
__pycache__

.env
.env.production

dev.yml
dev/
files/dev/
templates/dev/
playbooks/dev/
*.bak*
*.bak*/
*.dev*
*.dev*/
*.enc*
*.enc*/
.vscode/
.idea/
.ansible-lint
/inventories/**/host_vars/localhost.yml
files/localhost/
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Dev / Production
data/common/mount/