[defaults]
roles_path = $HOME/.ansible/roles:/usr/local/share/ansible/roles:/usr/share/ansible/roles
collections_path = $HOME/.ansible/collections:/usr/local/share/ansible/collections:/usr/share/ansible/collections
interpreter_python = auto_silent